extends layout

block content
  .row.height-60
    .col-md-8
      h1 Your questions...
      ul.pages.jumbotron
    .col-md-4
      h1 sections 
      ul.list-group.sections
        li.list-group-item(ng-repeat="section in sections")
          span {{ section.name }}
          button.btn.btn-primary.float-right(ng-disabled="section.status == 'c'", ng-click="completed(section._id)") Next
          button.btn.btn-primary.float-right(ng-show="section.status == 'c'" ng-click="enable(section._id)") Enable
  .row.height-40
    .col-md-12
      h1 Results
      table.table.table-striped
        thead
          tr
            th Name
            th Section
            th Total Questions
            th Total Correct
            th Percentage
        tbody
          tr(ng-repeat="r in results")
            td {{r.user.name}}
            td {{ r.section.name }}
            td {{ r.total }}
            td {{ r.correctCount }}
            td {{ (r.correctCount / r.total) * 100 }}